{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <div style="text-align: center">
        <a href="{{ path('app_homepage') }}">Homepage</a>
        <hr>
        <a href="{{ path('app_thread_index') }}">Thread</a>
    </div>
{% endblock %}
